@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');

:root {
    --cor-verde: #70986e;
    --cor-verdeForte: #0c2512;
    --cor-verdeMedio: #2a5740;
    --cor-azul: #b1d3c2;
    --cor-amarelo: #e0bb46;
    --cor-branco: #fff;
    --cor-preto: #000;
}

/* Estilo global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Funnel Display", sans-serif;
}

/* Container principal */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('../imagens/fundoJornal.png');
    /* Caminho da imagem */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Caixa de formulário */
.box {
    background-color: var(--cor-verdeMedio);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--cor-verdeForte);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

/* Título */
h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: var(--cor-azul);
    font-weight: 450;
}

/* Estilo dos inputs */
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--cor-branco);
    border-radius: 4px;
    font-size: 1em;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: var(--cor-verde);
    border: none;
    border-radius: 4px;
    color: var(--cor-branco);
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: var(--cor-verdeForte);
    color: var(--cor-branco);
}

/* Estilo do link de registro */
p a {
    color: var(--cor-amarelo);
    text-decoration: none;
    font-weight: 600;
}

p a:hover {
    text-decoration: underline;
}

/* Estilo para mensagens de erro */
.mensagem {
    color: var(--cor-amarelo);
    margin-top: 20px;
    font-weight: 600;
}
